$datapicker-backround: #242930;
$datapicker-border: #0e1013;
$datapicker-shadow-one: #181c21;
$datapicker-shadow-two: #14171b;
$datapicker-shadow-three: rgba(black, .3);
$datepicker-caption: #333941;
$datepicker-caption-border: #1b1e24;
$datepicker-caption-border-bottom: #181b21;
$datepicker-caption-linear-gradient-1: #414b56;
$datepicker-caption-linear-gradient-2: #323841;
$datepicker-caption-linear-gradient-3: #2b323a;
$datepicker-caption-linear-gradient-4: #252a31;
$datepicker-caption-box-shadow: rgba(white, .1);
$datepicker-caption-box-shadow-2: rgba(black, .2);
$datepicker-title: #8a99af;
$datepicker-title-text-shadow: rgba(black, .5);
$datepicker-title-border-color: #151a1f #191c21 #1c2025;
$datepicker-title-box-shadow: rgba(white, .08);
$datepicker-head: #2a3139;
$datepicker-head-border: #1b1e25;
$datepicker-th: #18b165;
$datepicker-th-border-bottom: #232833;
$datepicker-body: #404854;
$datepicker-td: #8ba0b8;
$datepicker-td-box-shadow: rgba(white, .06);
$datepicker-a-hover: #1dd87e;
$day-off: white;
$today: #6e6eef;
$off: #677387;
$off-text-shadow: rgba(black, .1);
